body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/151/189/original/map__image.png?1732315377");
  font-family: sans-serif;
  background-size: cover;
}
h1 {
  text-align: center;
}

select {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  font-size: medium;
  background-color: rgb(252, 249, 249);
}
h2 {
  margin: 0 0 5px;
  font-size: 30px;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(222, 222, 222);
  padding: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: rgba(6, 6, 16, 0.2) 0px 7px 23px 0px;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  border-bottom: 1px grey dashed;
  padding: 15px 0;
}
.city:last-child {
  border-bottom: none;
}
.date {
  opacity: 70%;
}

.time {
  font-size: 40px;
  font-weight: bold;
}
small {
  font-size: 20px;
  vertical-align: middle;
}

footer {
  text-align: center;
}
